[Unit]
Description=Captain backend
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=captain
ExecStart=/usr/local/bin/python3.9 -m captain.server.main -c /etc/captain/config.yml

[Install]
WantedBy=multi-user.target
