[Unit]
Description=Captain download manager (web application)
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/usr/local/bin/captain/web/
Type=simple
Restart=always
RestartSec=1
User=captain
ExecStart=/usr/local/bin/captain/web/run-prod.sh

[Install]
WantedBy=captain.service
