[Unit]
Description=Captain web application
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=captain
ExecStart=/usr/local/bin/serve -l 4000 -s /usr/local/bin/captain/web/build/

[Install]
WantedBy=multi-user.target
